<mat-tab-group animationDuration="1000ms" mat-align-tabs="end">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>camera</mat-icon>
      Camera
    </ng-template>
    <div>
      <div><video #video id="video" width="640" height="480" autoplay></video></div>
      <div><button id="snap" (click)="capture()">Snap Photo</button></div>
      <canvas #canvas id="canvas" width="640" height="480"></canvas>
      <ul>
        <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>
      Settings
    </ng-template>
    <div>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let d of devices" value="{{d.id}}">{{d.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    Here coming...
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>article</mat-icon>
      Console
    </ng-template>
    <div id="console">
    </div>
  </mat-tab>
</mat-tab-group>